<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>TunnelDesk</vendor>
  <vendor_url>https://github.com/nzmxd/tunneldesk</vendor_url>
  <action id="com.tunneldesk.hosts.modify">
    <description>Modify TunnelDesk hosts entries</description>
    <message>Authentication is required to update TunnelDesk hosts entries.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/tunneldesk/tunneldesk-hosts-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
